/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --color-accent: rgba(255, 141, 203);
  --color-title: rgb(255, 194, 230);
  --color-decor-text: rgb(53, 52, 48);
  --color-text: rgb(53, 52, 48);
  --color-main-title: rgb(53, 52, 48);
  --color-bg: rgb(255, 241, 247);
  --color-angle: rgb(53, 52, 48);
  --color-menu: rgb(53, 52, 48);
  --color-menu-hover: rgba(50, 49, 45, 0.4);
  --bg-image: url(../images/cover-image-light.png);
}

html.theme-light {
  .header__rec {
    display: none;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --color-accent: rgba(255, 141, 203);
    --color-title: rgb(255, 194, 230);
    --color-decor-text: rgb(53, 52, 48);
    --color-text: rgb(53, 52, 48);
    --color-main-title: rgb(53, 52, 48);
    --color-bg: rgb(255, 241, 247);
    --color-angle: rgb(53, 52, 48);
    --color-menu: rgb(53, 52, 48);
    --color-menu-hover: rgba(50, 49, 45, 0.4);
    --bg-image: url(../images/cover-image-light.png);
  }

  .header__rec {
    display: none;
  }
}