/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --color-accent: rgba(255, 141, 203);
  --color-title: rgb(255, 194, 230);
  --color-decor-text: rgb(53, 52, 48);
  --color-text: rgb(53, 52, 48);
  --color-bg: rgb(255, 241, 247);
  --bg-image: url(../images/cover-image-light.png);
}

@media (prefers-color-scheme: light) {
  :root {
    --color-accent: rgba(255, 141, 203);
    --color-title: rgb(255, 194, 230);
    --color-decor-text: rgb(53, 52, 48);
    --color-text: rgb(53, 52, 48);
    --color-bg: rgb(255, 241, 247);
    --bg-image: url(../images/cover-image-light.png);
  }

  .header__rec {
    display: none;
  }

  .decorated-zone::after,
  .decorated-zone::before {
    border-color: var(--color-text);
  }

  .header__theme-menu-button {
    color: var(--color-text);
  }

  .header__theme-menu-button:hover {
    outline: 1px solid rgba(50, 49, 45, 0.4);
  }

  .header__theme-menu-button:focus-visible {
    box-shadow: 0px 1px 0px 0px var(--color-text);
  }

  .header__theme-menu-button_active {
    outline: 1px solid var(--color-text);
  }

  .main-title {
    color: var(--color-text);
  }
}