/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
/* header */
.header {
  position: relative;
  display: grid;
  padding: 20vw 2.667vw 17.6vw;
  background: var(--bg-image) center/cover;
}

.header::after,
.header::before {
  content: '';
  position: absolute;
  display: inline-block;
  width: 25px;
  height: 25px;
}

.header::after {
  bottom: var(--offset);
  left: var(--offset);
  border-inline-start: 1px solid var(--color-pink);
  border-block-end: 1px solid var(--color-pink);
}

.header::before {
  top: var(--offset);
  right: var(--offset);
  border-inline-end: 1px solid var(--color-pink);
  border-block-start: 1px solid var(--color-pink);
}

.header__rec {
  position: absolute;
  display: flex;
  align-items: center;
  top: clamp(14px, 3.804vw, 24px);
  right: clamp(19px, 5.163vw, 29px);
  font-size: 15px;
  color: var(--color-pink);
}

.header__rec::after {
  content: '';
  display: inline-block;
  width: 9px;
  height: 9px;
  background-color: var(--color-pink);
  box-shadow: 0px 0px 4px 2px var(--color-pink);
  border-radius: 50%;
  margin-inline-start: 10px;
}

.header__theme-menu {
  margin-block-end: clamp(70px, 18.667vw, 88px);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 10px;
}

.header__theme-menu-button {
  cursor: pointer;
  width: 70px;
  height: 26px;
  font-family: var(--font);
  font-weight: var(--font-regular);
  font-size: var(--font-xs);
  color: var(--color-pink);
  background: transparent;
  border: 1px solid transparent;
}

.header__theme-menu-button:hover {
  border: 1px solid rgba(255, 0, 112, .4);
}

.header__theme-menu-button:focus {
  outline: none;
  border-block-end: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--color-pink);
}

.header__theme-menu-button_active {
  border: 1px solid var(--color-pink);
}

.header__title {
  max-width: 355px;
  font-weight: var(--font-bold);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 95.7px;
  color: var(--color-purple);
  text-shadow: 4px 4px 0px var(--color-pink);
  margin-block-end: 13.6vw;
}

.header__text {
  justify-self: end;
  max-width: clamp(355px, 94.667vw, 364px);
}

.text-decor {
  font-weight: var(--font-bold);
  line-height: 23.4px;
  color: var(--color-dark-text);
  background-color: var(--color-pink);
}

/* header media */

@media (width >=750px) {
  .header {
    padding: 25vw 20px 23.828vw 0;
  }

  .header__theme-menu {
    margin-block-end: 23.4vw;
  }

  .header__title {
    max-width: 100%;
    word-spacing: 6.771vw;
    margin-block-end: 20.6vw;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (width >=1000px) {
  .header {
    padding-block-start: 1.953vw;
    padding-block-end: 13.184vw;
  }

  .header__theme-menu-list {
    flex-direction: row;
    justify-content: center;
    padding-inline-start: 1.953vw;
  }

  .header__theme-menu {
    margin-block-end: 295px;
  }

  .header__title {
    margin-block-end: 125px;
  }

  .header__text {
    max-width: 491px;
  }
}

/* main */

.main {
  display: grid;
  gap: 30px;
  padding-block-start: clamp(42px, 10.667vw, 60px);;
  padding-inline-start: clamp(10px, 2.667vw, 20px);
  padding-inline-end: clamp(10px, 2.667vw, 20px);
}

.main-title {
  font-weight: var(--font-bold);
  font-size: var(--font-xs);
  line-height: 23px;
  word-spacing: 8px;
  color: var(--color-pink);
  margin-block-end: 19px;
}

.main-subtitle {
  margin-block-end: 10px;
  font-size: var(--font-xs);
  font-weight: var(--font-bold);
}

.main-text {
  line-height: 1.5rem;
  color: var(--color-light-pink);
  margin-block-end: 20px;
  letter-spacing: .02rem;
  word-spacing: .4rem;
}

.main-link {
  position: relative;
  text-shadow: 2px 2px 0px var(--color-pink);
  text-decoration: none;
  border: 1px solid transparent;
  transition: border-color .3s;
}

.main-link::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  background-color: currentColor;
  opacity: 0;
  transition: opacity .3s;
}

.main-link:hover::after {
  opacity: 1;
}

.main-link:focus {
  outline: none;
}

.main-link:focus-visible {
  border-color: currentColor;
}

.focus-tips__subtitle {
  margin-block-end: 20px;
}

.main-intro {
  font-size: var(--font-xs);
  font-weight: var(--font-regular);
  line-height: 23.4px;
  margin-block-end: 10px;
}

.focus-images {
  display: grid;
  gap: 10px;
}

.focus-tips__subtitle {
  margin: 0;
}

.main-image {
  max-width: 100%;
  object-fit: cover;
  object-position: center;
}